* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.header h1{
    font-weight: 600;
    color: tomato;
}

.main{
    /* border: 1px solid red; */
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-box{
    border: 1px solid red;
    height: 100%;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#screen{
    /* border: 1px solid red; */
    height: 10vh;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: greenyellow;
    text-align: right;
}
#buttons{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.numButtons{
    /* border: 1px solid red; */
    height: 100px;
    width: 100px;
    margin: 10px;
    
}

.equalButton{
    width: 470px;
    height: 5vh;
}
